* {
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    color: azure;
    text-decoration: none;
}

header {
    background-color: #00b888;
    padding: 0 5%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    height: 70px;
    margin-top: 7px;
}

nav{
    text-align: right;
}

nav li {
    list-style: none;
    display: inline-block;
    font-size: x-large;
    padding: 0 10px;
}

main {
    text-align: center;
}

.top-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 70%;
}

.section {
    margin: 10px 5%;
}

.section > h2 {
    font-size: 40px;
    display: inline-block;
    border-bottom: solid 3px black;
    margin: 20px 0;
}